img {
  width: 150px;
  display: block;
}

.card{
  text-align: center;
  width: 250px;
  display: inline-block;
  border: 1px solid;
  border-radius: 5px;
  margin: 5px;
  font-size: 20px;
}

i{
  margin-right: 5px ;
  margin-left: 5px ;
}

#message{
  display: none;
}